doctype html
html
  head
    title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='assets/css/game-container.min.css')
    script(src='assets/js/game-container.js')
  body
    .appWrapper
      iframe#appContainer(src='game.html', frameborder='0', scrolling='no')
      script.
        var container = new springroll.Container("#appContainer");
        container.openPath("game.html");